<footer class="bg-gray-100 sm:mt-6 mt-0">
  <div class="container w-full mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 w-full mx-auto py-5">
      <div>
        <h3 class="font-bold uppercase text-sm text-neutral-700">Công ty dịch vụ Uhouse</h3>
        <div class="grid grid-cols-1 gap-2 pt-4">
          <div>
            <ion-icon name="location"></ion-icon>
            <span class="font-bold ">Địa Chỉ: </span><span class="text-neutral-600">Số 7 Cộng
              Hoà,P.4,Q.Tân Bình</span>
          </div>
          <div>
            <ion-icon name="call"></ion-icon>
            <span class="font-bold">Điện Thoại: </span><span class="text-neutral-600">0901860555</span>
          </div>
          <div>
            <ion-icon name="mail-outline"></ion-icon>
            <span class="font-bold ">Email:</span>
          </div>
          <div>
            <ion-icon name="qr-code-outline"></ion-icon>
            <span class="font-bold ">MST: </span>
            <span class=" text-neutral-600">0317253218</span>
          </div>

          <div class="flex justify-start items-center gap-1 w-56 py-3">
            <div class="bg-white w-7 h-7 rounded-full items-center flex justify-center">
              <ion-icon name="logo-facebook" class="w-5 h-5 text-yellow-400"></ion-icon>
            </div>
            <div class="bg-white w-7 h-7 rounded-full items-center flex justify-center">
              <ion-icon name="logo-skype" class="w-5 h-5 text-yellow-400"></ion-icon>
            </div>
            <div class="bg-white w-7 h-7 rounded-full items-center flex justify-center">
              <ion-icon name="logo-linkedin" class="w-5 h-5 text-yellow-400"></ion-icon>
            </div>
            <div class="bg-white w-7 h-7 rounded-full items-center flex justify-center">
              <ion-icon name="logo-twitter" class="w-5 h-5 text-yellow-400"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto">
        <h3 class="font-bold uppercase text-sm text-neutral-600">Tải App</h3>
        <div class="grid grid-cols-1 gap-2 pt-4">
          <img src="/images/home/app-store.jpg" alt="" class="w-24 h-7" />
          <img src="/images/home/google-play.jpg" alt="" class="w-24 h-7" />
        </div>
      </div>
      <div>
        <h3 class="font-bold uppercase text-sm text-neutral-600">Liên kết nhanh</h3>
        <div class="grid grid-cols-1 gap-2 pt-4">
          <span class="text-gray-500">Giới thiệu chung</span>
          <span class="text-gray-500">Lĩnh vực kinh doanh</span>
          <span class="text-gray-500">Tầm nhìn sử mệnh</span>
          <span class="text-gray-500">Liên hệ</span>
        </div>
      </div>
      <div>
        <h3 class="font-bold uppercase text-sm text-neutral-600">Đăng ký nhận tin qua email</h3>
        <div class="pt-4">
          <form action="" class="grid grid-cols-1 gap-2 items-start">
            <input type="text" placeholder="Nhập tên của bạn"
              class="pl-2 w-full h-8 font-normal text-sm text-neutral-600 rounded-md border border-gray-400" />
            <input type="text" placeholder="Nhập email của bạn"
              class="font-normal w-full h-8 pl-2 text-sm text-neutral-600 rounded-md border border-gray-400" />
            <button type="submit"
              class="font-bold w-36 h-7 rounded-md uppercase text-sm bg-gradient-to-t from-red-700 via-red-600 to-red-500 items-start text-white">
              gửi thông tin
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="h-0.5 bg-gray-300"></div>
    <div class="justify-start text-center grid grid-cols-1">
      <span class="text-gray-400 text-xs">UHouse - Always Be With You</span>
      <span class="text-gray-400 text-xs">Copyright © 2022 UHOUSE - Giải Pháp Bất Động Sản Cho Thuê</span>
      <span class="text-gray-400 text-xs">Phát Triển Bởi Công ty <span
          class="font-bold text-gray-400">CrossTech</span></span>
      <span class="text-gray-400 text-xs">Giấy chứng nhận đăng ký doanh nghiệp số: 0317253218 do Sở kế
        hoạch và đầu tư TPHCM</span>
      <span class="text-gray-400 text-xs">Cấp lần đầu ngày 20 tháng 10 năm 2022</span>
    </div>
  </div>
</footer>