<!-- home Featured Categories -->

{{! 
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fffceb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href=''><img
                  src='/images/shop/cat-12.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Organic Kiwi</a>
              </h6>
              <span class='text-sm text-gray-7e'>28 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#ecffec]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-11.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Peach</a>
              </h6>
              <span class='text-sm text-gray-7e'>14 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-9.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Red Apple</a>
              </h6>
              <span class='text-sm text-gray-7e'>54 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fff3eb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-3.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Snack</a>
              </h6>
              <span class='text-sm text-gray-7e'>56 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fff3ff]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-1.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Vegetables</a>
              </h6>
              <span class='text-sm text-gray-7e'>72 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#f2fce4]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-2.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Strawberry</a>
              </h6>
              <span class='text-sm text-gray-7e'>36 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-4.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Black plum</a>
              </h6>
              <span class='text-sm text-gray-7e'>123 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fffceb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-5.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Custard Apple</a>
              </h6>
              <span class='text-sm text-gray-7e'>34 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-14.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Coffee and tea</a>
              </h6>
              <span class='text-sm text-gray-7e'>89 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#ecffec]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-15.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Headphone</a>
              </h6>
              <span class='text-sm text-gray-7e'>87 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#f2fce4]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-13.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>cate & milk</a>
              </h6>
              <span class='text-sm text-gray-7e'>26 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fffceb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href=''><img
                  src='/images/shop/cat-12.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Organic Kiwi</a>
              </h6>
              <span class='text-sm text-gray-7e'>28 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#ecffec]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-11.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Peach</a>
              </h6>
              <span class='text-sm text-gray-7e'>14 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-9.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Red Apple</a>
              </h6>
              <span class='text-sm text-gray-7e'>54 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fff3eb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-3.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Snack</a>
              </h6>
              <span class='text-sm text-gray-7e'>56 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fff3ff]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-1.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Vegetables</a>
              </h6>
              <span class='text-sm text-gray-7e'>72 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#f2fce4]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-2.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Strawberry</a>
              </h6>
              <span class='text-sm text-gray-7e'>36 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-4.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Black plum</a>
              </h6>
              <span class='text-sm text-gray-7e'>123 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#fffceb]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-5.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Custard Apple</a>
              </h6>
              <span class='text-sm text-gray-7e'>34 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#feefea]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-14.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Coffee and tea</a>
              </h6>
              <span class='text-sm text-gray-7e'>89 item</span>
            </div>
          </div>
        </div>
        <div class='swiper-slide'>
          <div
            class='w-full rounded-lg border hover:border-[#bce3c9] transition-transform duration-700 h-full mx-auto flex flex-col items-center justify-between py-4 bg-[#ecffec]'
          >
            <figure class='w-20 h-20 mx-auto mb-2'>
              <a href='#'><img
                  src='/images/shop/cat-15.png'
                  alt=''
                  class='object-cover hover:scale-110 transition-transform duration-700'
                /></a>
            </figure>
            <div class='flex flex-col items-center'>
              <h6 class='text-gray-blck text-base font-quicksand font-bold hover:text-green-grn'>
                <a href=''>Headphone</a>
              </h6>
              <span class='text-sm text-gray-7e'>87 item</span>
            </div>
          </div>
        </div>
      </div> }}