 <section>
      <div class="relative group overflow-hidden my-7 px-3 rounded-lg">
        <div class="absolute z-10 w-full top-1/2">
          <div class="hidden sm:flex justify-between relative mx-auto">
            <span
              id="home-left"
              class="btn-prev-banner transition-all w-11 h-11 flex items-center justify-center duration-500 ease-in-out absolute left-5 group-hover:left-5 after:content-none opacity-0 group-hover:opacity-100 bg-gray-300 hover:bg-green-grn hover:text-white p-2 rounded-full cursor-pointer"
              ><i class="fas fa-chevron-left"></i
            ></span>
            <span
              id="home-right"
              class="btn-next-banner transition-all w-11 h-11 flex items-center justify-center duration-500 ease-in-out absolute right-11 group-hover:right-11 after:content-none opacity-0 group-hover:opacity-100 bg-gray-300 hover:bg-green-grn hover:text-white p-2 rounded-full cursor-pointer"
              ><i class="fas fa-chevron-right"></i
            ></span>
          </div>
        </div>
        <div class="swiper mySwiper-banner w-full h-[538px] rounded-3xl">
          <div class="swiper-wrapper">
            <div class="swiper-slide !flex !items-center">

              <div class=" mx-auto sm:ml-[84px] sm:w-full w-[270px]">
                <h1 class="xl:text-6xl lg:text-5xl text-3xl lg:mb-10 mb-6 font-bold font-quicksand">
                  Don’t miss amazing <br/>
                  grocery deals
                </h1>
                <p class="font-lato xl:text-3xl lg:text-2xl text-base text-gray-7e lg:mb-16 mb-10">
                  Save up to 50% off on your first order
                </p>
                <form action="" class="rounded-full text-gray-7e flex text-sm">
                  <div class="max-w-[450px] w-full bg-white rounded-full relative">
                    <input
                      type="text"
                      placeholder="Your email address"
                      class="w-full h-16 rounded-full outline-none pl-[58px] md:pr-[158px] pr-28"
                    />
                    <img src="/images/icon-plane.png" alt="" class="absolute top-1/2 -translate-y-1/2 left-6" />
                    <button
                      type="submit"
                      class="absolute right-0 h-16 bg-green-grn text-white rounded-full font-quicksand font-medium text-base md:px-10 md:py-4 py-2 px-5"
                    >
                      Subscribe
                    </button>
                  </div>
                </form>

              </div>
              <img
                alt=""
                class="lazy rounded-3xl zoom w-full h-[538px] object-cover absolute top-0 left-0 -z-10"
                src="/images/banner/home-slider-1.png"
              />
            </div>
            <div class="swiper-slide !flex !items-center">

              <div class=" mx-auto sm:ml-[84px] sm:w-full w-[270px]">
                <h1 class="xl:text-6xl lg:text-5xl text-3xl lg:mb-10 mb-6 font-bold font-quicksand">
                  Fresh Vegetables <br/>
                  Big discount
                </h1>
                <p class="font-lato xl:text-3xl lg:text-2xl text-base text-gray-7e lg:mb-16 mb-10">
                  Save up to 50% off on your first order
                </p>
                <form action="" class="rounded-full text-gray-7e flex text-sm">
                  <div class="max-w-[450px] w-full bg-white rounded-full relative">
                    <input
                      type="text"
                      placeholder="Your email address"
                      class="w-full h-16 rounded-full outline-none pl-[58px] md:pr-[158px] pr-28"
                    />
                    <img src="/images/icon-plane.png" alt="" class="absolute top-1/2 -translate-y-1/2 left-6" />
                    <button
                      type="submit"
                      class="absolute right-0 h-16 bg-green-grn text-white rounded-full font-quicksand font-medium text-base md:px-10 md:py-4 py-2 px-5"
                    >
                      Subscribe
                    </button>
                  </div>
                </form>
              </div>
              <img
                alt=""
                class="lazy rounded-3xl zoom w-full h-full object-cover absolute top-0 left-0 -z-10"
                src="/images/banner/home-slider-2.png"
              />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <template id="template-1">
          <div class="myClass">123</div>
        </template>
      </div>
    </section> 