<section class="py-6">
  <div class="px-3">
    <div class="flex items-center justify-between gap-5 mb-11">
      <h3 class="text-3xl text-gray-blck font-bold font-quicksand">Daily Best Sells</h3>
      <ul class="flex flex-wrap gap-7">
        <li
          class="text-base font-semibold font-quicksand text-green-grn hover:-translate-y-1 transition-transform duration-300">
          <button>Featured</button>
        </li>
        <li
          class="text-base font-semibold font-quicksand text-gray-blck hover:text-green-grn hover:-translate-y-1 transition-transform duration-300">
          <button>Popular</button>
        </li>
        <li
          class="text-base font-semibold font-quicksand text-gray-blck hover:text-green-grn hover:-translate-y-1 transition-transform duration-300">
          <button>New added</button>
        </li>
      </ul>
    </div>
    <div class="grid grid-cols-12 gap-5">
      <div
        class="hidden lg:block col-span-3 w-full bg-[url(/images/banner/banner-4.png)] bg-cover bg-no-repeat min-h-[500px] p-12 rounded-xl">
        <h2 class="mb-24 font-quicksand font-bold text-gray-blck text-[40px] leading-[48px]">
          Bring nature into your home
        </h2>
        <button
          class="bg-green-grn text-white py-2 px-3 flex gap-2 items-center text-xs font-bold font-quicksand rounded-md hover:pr-4 hover:bg-orange-orn transition-all">
          Shop now <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
      <div class="lg:col-span-9 col-span-12 w-full flex items-center">
        <div class="relative group overflow-hidden my-7 px-3 rounded-lg">
          <div class="absolute z-10 w-full top-1/2">
            <div class="flex justify-between relative mx-auto">
              <span
                class="btn-prev-sale transition-all !w-11 !h-11 flex items-center justify-center duration-500 ease-in-out absolute -top-24 sm:left-5 group-hover:sm:left-5 after:!content-none group-hover:opacity-100 bg-gray-100 hover:bg-green-grn hover:text-white p-2 rounded-full cursor-pointer"><i
                  class="fas fa-chevron-left"></i></span>
              <span
                class="btn-next-sale transition-all !w-11 !h-11 flex items-center justify-center duration-500 ease-in-out absolute -top-24 right-11 group-hover:right-11 after:!content-none group-hover:opacity-100 bg-gray-100 hover:bg-green-grn hover:text-white p-2 rounded-full cursor-pointer"><i
                  class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="swiper mySwiper-sale w-full rounded-2xl">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-1-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-1-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href="/AddToWishlist"
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href="/Compare"
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href="/Quickwview"
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-2-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-2-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="" class="">All Natural Italian-Style Chicken Meatballs</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(3.5)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$52.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-3-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-3-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Angie’s Boomchickapop Sweet & Salty Kettle Corn</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-4-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-4-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Foster Farms Takeout Crispy Classic Buffalo Wings </a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-5-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-5-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Blue Diamond Almonds Lightly Salted Vegetables</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-6-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-6-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Chobani Complete Vanilla Greek Yogurt</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-7-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-7-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Canada Dry Ginger Ale – 2 L Bottle - 200ml - 400g</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-8-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-8-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Encore Seafoods Stuffed Alaskan Salmon</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="px-5 py-[10px] bg-green-500 rounded-ee-2xl rounded-ss-2xl absolute z-50 text-white text-xs font-lato">
                  Sale 35%
                </div>
                <div class="border hover:border-green-ligrn rounded-2xl hover:shadow-xls card-product">
                  <div class="p-6">
                    <div class="relative">
                      <img src="/images/shop/product-9-1.jpg" alt="" class="default-img" />
                      <img src="/images/shop/product-9-2.jpg" alt=""
                        class="hover-img absolute top-0 opacity-0 scale-105 transition-all duration-1000 ease-in" />

                      <div
                        class="hover-product_action opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-green-ligrn bg-white flex">
                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-heart"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Add
                              To Wishlist</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn border-r border-green-ligrn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="fas fa-random"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Compare</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>

                        <div
                          class="product-action_heart w-10 h-10 flex items-center justify-center text-green-grn hover:text-yellow-300 relative">
                          <a href="#" class="w-full h-full flex items-center justify-center"><i
                              class="far fa-eye"></i></a>
                          <div class="product-label_heart duration-500 t1 hidden">
                            <a href=""
                              class="absolute left-1/2 -translate-x-1/2 py-2 px-3 bottom-[125%] bg-green-grn text-white z-20 rounded-md text-xs whitespace-nowrap">Quick
                              view</a>
                            <div
                              class="w-0 h-0 absolute z-10 bottom-[100%] left-1/2 -translate-x-1/2 border-solid border-x-[10px] border-x-transparent border-t-[10px] border-t-green-grn">
                            </div>
                            <div class="w-10 h-5 bg-transparent absolute z-10 bottom-full left-1/2 -translate-x-1/2">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="product-content flex flex-col items-start justify-between">
                      <div class="text-xs font-lato text-gray-ad mb-1"><a href="">Snack</a></div>
                      <h2 class="text-gray-blck font-quicksand min-h-[72px] font-bold text-base">
                        <a href="">Gorton’s Beer Battered Fish Fillets with soft paper</a>
                      </h2>
                      <div>
                        <div class="flex justify-center items-baseline gap-2 text-sm mb-1">
                          <div class="flex justify-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 576 512">
                              <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                              </path>
                            </svg>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                              class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 536 512">
                              <path fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                              </path>
                            </svg>
                          </div>
                          <span class="font-lato text-gray-b6">(121)</span>
                        </div>
                      </div>
                      <div class="mb-4">
                        <span class="text-sm font-lato text-gray-7e">By <a href=""
                            class="text-green-grn">NestFood</a></span>
                      </div>
                      <div class="flex justify-between w-full items-baseline relative">
                        <div class="font-quicksand flex justify-between gap-2 items-baseline">
                          <span class="text-lg text-green-grn font-bold">$32.85</span>
                          <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                        </div>
                      </div>
                      <div class="w-full rounded h-1 grid grid-cols-2 mb-1">
                        <div class="w-full h-1 rounded-l bg-green-grn"></div>
                        <div class="w-full h-1 rounded-r bg-gray-300"></div>
                      </div>
                      <span class="inline text-sm text-gray-blck mb-4">Sold: 90/120</span>
                      <button
                        class="inline-block w-full text-sm leading-5 font-bold border px-7 py-3 rounded text-white bg-green-grn cursor-pointer hover:bg-yellow-400 hover:-translate-y-1 transition-all duration-300 font-quicksand">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <template id="template-1">
            <div class="myClass">123</div>
          </template>
        </div>
      </div>
    </div>
  </div>
</section>