<section class="py-6">
  <div class="px-3">
    <div class="flex items-center justify-between gap-5 mb-11">
      <h3 class="text-3xl text-gray-blck font-bold font-quicksand">Deals Of The Day</h3>
      <a href="" class="flex items-center gap-4">
        All Deals
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <div id="countdown"></div>


    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-24 md:gap-5 mb-24">
      <div class="w-full pb-6">
        <div class="w-full relative rounded-2xl">
          <a href="" class="w-full cursor-pointer">
            <img src="/images/banner/banner-5.png" alt="" class="w-full rounded-2xl" />
          </a>
          <div
            class="absolute bottom-0 hover:bottom-1 transition-all duration-300 translate-y-1/2 left-1/2 -translate-x-1/2 bg-white shadow-xls rounded-lg min-w-[280px] w-[80%]">
            <div class="relative py-6 px-7">
              <h2 class="mb-2">
                <a href="" class="inline font-quicksand font-bold">
                  Seeds of Change Organic Quinoa, Brown, & Red Rice
                </a>
              </h2>

              <div>
                <div class="flex item-start">
                  <div class="flex justify-center items-baseline gap-2 text-sm mb-1">

                    <div class="flex justify-center">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 536 512">
                        <path fill="currentColor"
                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                        </path>
                      </svg>
                    </div>
                    <span class="font-lato text-gray-b6">(121)</span>
                  </div>
                </div>
                <div class="mb-4">
                  <span class="text-sm font-lato text-gray-7e">By <a href="" class="text-green-grn">NestFood</a></span>
                </div>
                <div class="flex justify-between w-full items-baseline relative">
                  <div class="font-quicksand flex justify-between gap-2 items-baseline">
                    <span class="text-lg text-green-grn font-bold">$32.85</span>
                    <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                  </div>
                  <button
                    class="inline-block absolute top-0 right-0 hover:-top-1 rounded-md text-green-grn hover:text-white bg-green-100 hover:bg-green-grn cursor-pointer text-sm font-bold font-lato px-5 py-[6px] transition-all duration-300">
                    <i class="fas fa-shopping-bag mr-1"></i>
                    Add
                  </button>
                </div>

                <div class="deals-countdown absolute left-1/2 -translate-x-1/2 bottom-[105%] flex gap-2"
                  id="deals-countdown" data-time="2025/03/25">
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-day"></span>
                    <span>Days</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-hours"></span>
                    <span>Hours</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-minutes"></span>
                    <span>Mins</span>
                  </div>
                  <div class="flex flex-col items-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-seconds mt-[7px]"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full pb-6">
        <div class="w-full relative rounded-2xl">
          <a href="">
            <img src="/images/banner/banner-6.png" alt="" class="rounded-2xl w-full" />
          </a>
          <div
            class="absolute bottom-0 hover:bottom-1 transition-all duration-300 translate-y-1/2 left-1/2 -translate-x-1/2 bg-white shadow-xls rounded-lg w-[80%] min-w-[280px]">
            <div class="relative py-6 px-7">
              <h2 class="mb-2">
                <a href="" class="inline font-quicksand font-bold">
                  Seeds of Change Organic Quinoa, Brown, & Red Rice
                </a>
              </h2>

              <div>
                <div class="flex item-start">
                  <div class="flex justify-center items-baseline gap-2 text-sm mb-1">

                    <div class="flex justify-center">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 536 512">
                        <path fill="currentColor"
                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                        </path>
                      </svg>
                    </div>
                    <span class="font-lato text-gray-b6">(121)</span>
                  </div>
                </div>
                <div class="mb-4">
                  <span class="text-sm font-lato text-gray-7e">By <a href="" class="text-green-grn">NestFood</a></span>
                </div>
                <div class="flex justify-between w-full items-baseline relative">
                  <div class="font-quicksand flex justify-between gap-2 items-baseline">
                    <span class="text-lg text-green-grn font-bold">$32.85</span>
                    <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                  </div>
                  <button
                    class="inline-block absolute top-0 right-0 hover:-top-1 rounded-md text-green-grn hover:text-white bg-green-100 hover:bg-green-grn cursor-pointer text-sm font-bold font-lato px-5 py-[6px] transition-all duration-300">
                    <i class="fas fa-shopping-bag mr-1"></i>
                    Add
                  </button>
                </div>
                <div id="countdown"></div>

                <div class="deals-countdown absolute left-1/2 -translate-x-1/2 bottom-[105%] flex gap-2"
                  data-time="2026/04/25">
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-day"></span>
                    <span>Days</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-hours"></span>
                    <span>Hours</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-minutes"></span>
                    <span>Mins</span>
                  </div>
                  <div class="flex flex-col items-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-seconds mt-[7px]"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full pb-6 sm:hidden lg:block">
        <div class="w-full relative rounded-2xl">
          <a href="">
            <img src="/images/banner/banner-7.png" alt="" class="rounded-2xl w-full" />
          </a>
          <div
            class="absolute bottom-0 hover:bottom-1 transition-all duration-300 translate-y-1/2 left-1/2 -translate-x-1/2 bg-white shadow-xls rounded-lg w-[80%] min-w-[280px]">
            <div class="relative py-6 px-7">
              <h2 class="mb-2">
                <a href="" class="inline font-quicksand font-bold">
                  Seeds of Change Organic Quinoa, Brown, & Red Rice
                </a>
              </h2>

              <div>
                <div class="flex item-start">
                  <div class="flex justify-center items-baseline gap-2 text-sm mb-1">

                    <div class="flex justify-center">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 536 512">
                        <path fill="currentColor"
                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                        </path>
                      </svg>
                    </div>
                    <span class="font-lato text-gray-b6">(121)</span>
                  </div>
                </div>
                <div class="mb-4">
                  <span class="text-sm font-lato text-gray-7e">By <a href="" class="text-green-grn">NestFood</a></span>
                </div>
                <div class="flex justify-between w-full items-baseline relative">
                  <div class="font-quicksand flex justify-between gap-2 items-baseline">
                    <span class="text-lg text-green-grn font-bold">$32.85</span>
                    <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                  </div>
                  <button
                    class="inline-block absolute top-0 right-0 hover:-top-1 rounded-md text-green-grn hover:text-white bg-green-100 hover:bg-green-grn cursor-pointer text-sm font-bold font-lato px-5 py-[6px] transition-all duration-300">
                    <i class="fas fa-shopping-bag mr-1"></i>
                    Add
                  </button>
                </div>
                <div id="countdown"></div>

                <div class="deals-countdown absolute left-1/2 -translate-x-1/2 bottom-[105%] flex gap-2"
                  data-time="2027/03/25">
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-day"></span>
                    <span>Days</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-hours"></span>
                    <span>Hours</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-minutes"></span>
                    <span>Mins</span>
                  </div>
                  <div class="flex flex-col items-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-seconds mt-[7px]"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full pb-6 sm:hidden xl:block">
        <div class="w-full relative rounded-2xl">
          <a href="">
            <img src="/images/banner/banner-8.png" alt="" class="rounded-2xl w-full" />
          </a>
          <div
            class="absolute bottom-0 hover:bottom-1 transition-all duration-300 translate-y-1/2 left-1/2 -translate-x-1/2 bg-white shadow-xls rounded-lg w-[80%] min-w-[280px]">
            <div class="relative py-6 px-7">
              <h2 class="mb-2">
                <a href="" class="inline font-quicksand font-bold">
                  Seeds of Change Organic Quinoa, Brown, & Red Rice
                </a>
              </h2>

              <div>
                <div class="flex item-start">
                  <div class="flex justify-center items-baseline gap-2 text-sm mb-1">

                    <div class="flex justify-center">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
                        class="w-[14px] text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 536 512">
                        <path fill="currentColor"
                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z">
                        </path>
                      </svg>
                    </div>
                    <span class="font-lato text-gray-b6">(121)</span>
                  </div>
                </div>
                <div class="mb-4">
                  <span class="text-sm font-lato text-gray-7e">By <a href="" class="text-green-grn">NestFood</a></span>
                </div>
                <div class="flex justify-between w-full items-baseline relative">
                  <div class="font-quicksand flex justify-between gap-2 items-baseline">
                    <span class="text-lg text-green-grn font-bold">$32.85</span>
                    <span class="line-through text-sm font-bold text-gray-ad">$33.8</span>
                  </div>
                  <button
                    class="inline-block absolute top-0 right-0 hover:-top-1 rounded-md text-green-grn hover:text-white bg-green-100 hover:bg-green-grn cursor-pointer text-sm font-bold font-lato px-5 py-[6px] transition-all duration-300">
                    <i class="fas fa-shopping-bag mr-1"></i>
                    Add
                  </button>
                </div>
                <div id="countdown"></div>

                <div class="deals-countdown absolute left-1/2 -translate-x-1/2 bottom-[105%] flex gap-2"
                  data-time="2025/02/25">
                  <div class="text1 flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-day"></span>
                    <span>Days</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-hours"></span>
                    <span>Hours</span>
                  </div>
                  <div class="flex flex-col items-center justify-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-minutes"></span>
                    <span>Mins</span>
                  </div>
                  <div class="flex flex-col items-center w-16 h-[65px] bg-white rounded">
                    <span class="text-xl font-lato font-medium text-green-grn countdown-seconds"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>