<!-- details body -->
{{! <div class="px-16 py-7 w-full h-fit grid grid-cols-12 gap-[26px]">
  <div class="col-span-9">
    <div class="w-[436px] px-3">
      <div id="container">
        <div class="relative w-[497px] h-[497px] border border-gray-bggray rounded-2xl">
          <img src="/images/product-16-2.jpg" class="rounded-2xl" alt="">
          <span>
            <i class="fas fa-search absolute text-gray-grey top-3 right-3"></i>
          </span>
        </div>  
      </div>
    </div>
    <div></div>
  </div>
  <div class="col-span-3"></div>
</div> }}