<section class="mb-6">
  <div class="px-3 w-full grid lg:grid-cols-3 md:grid-cols-2 gap-5">
    <div
      class="w-full h-[267px] rounded-lg flex items-center relative bg-[url(/images/banner/banner-1.png)] bg-no-repeat bg-cover bg-bottom">

      <div class="px-12 max-w-[300px] h-[147px] flex flex-col justify-between items-start">
        <h4
          class="text-gray-blck text-2xl font-bold font-quicksand mb-4 hover:-translate-y-1 transition-transform duration-300">
          Everyday Fresh & Clean with Our Products
        </h4>
        <button
          class="bg-green-grn text-white py-2 px-3 flex gap-2 items-center text-xs font-bold font-quicksand rounded-md hover:pr-4 hover:bg-orange-orn transition-all">
          Shop now <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>

    <div
      class="w-full h-[267px] rounded-lg flex items-center relative bg-[url(/images/banner/banner-2.png)] bg-no-repeat bg-cover bg-bottom">
      <div class="px-12 max-w-[300px] h-[147px] flex flex-col justify-between items-start">
        <h4
          class="text-gray-blck text-2xl font-bold font-quicksand mb-4 hover:-translate-y-1 transition-transform duration-300">
          Make your Breakfast Healthy and Easy
        </h4>
        <button
          class="bg-green-grn text-white py-2 px-3 flex gap-2 items-center text-xs font-bold font-quicksand rounded-md hover:pr-4 hover:bg-orange-orn transition-all">
          Shop now <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>
    <div
      class="w-full h-[267px] md:hidden rounded-lg lg:flex flex items-center relative bg-[url(/images/banner/banner-3.png)] bg-no-repeat bg-cover bg-bottom">
      <div class="px-12 max-w-[300px] h-[147px] flex flex-col justify-between items-start">
        <h4
          class="text-gray-blck text-2xl font-bold font-quicksand mb-4 hover:-translate-y-1 transition-transform duration-300">
          The best Organic Products Online
        </h4>
        <button
          class="bg-green-grn text-white py-2 px-3 flex gap-2 items-center text-xs font-bold font-quicksand rounded-md hover:pr-4 hover:bg-orange-orn transition-all">
          Shop now <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>