<div>
  <div class="pl-4 pt-4 pb-5 md:pr-6 pr-40 border border-gray-400 rounded-2xl lg:pr-40 xl:pr-64">
    <div class="text-lg font-bold text-gray-700 mb-3">Loại phòng</div>
    <ul>
      <li>
        <a href="#" class="flex gap-1 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Căn hộ dịch vụ (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Chung cư mini (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Motel (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Hotel (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Phòng trọ (100)</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-4 pl-4 pt-4 pb-5 pr-52 border border-gray-400 rounded-2xl xl:pr-64">
    <div class="text-lg font-bold text-gray-700 mb-3">Quận/Huyện</div>
    <ul>
      <li>
        <a href="#" class="flex gap-1 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">quận 1 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 2 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 3 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 4 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex gap-1 mt-2 items-center">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
              <path
                d="M9.59351 5.61523L8.89039 6.33398L11.031 8.47461H3.33301V9.47461H11.031L8.89039 11.6152L9.59351 12.334L12.9529 8.97461L9.59351 5.61523Z"
                fill="#2196F3" />
            </svg></span>
          <span class="text-sm underline text-blue-500">Quận 5 (100)</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-4 pl-4 pt-4 pb-5 border border-gray-400 rounded-2xl">
    <div class="text-lg font-bold text-gray-700 mb-3">Tin tức</div>
    <div>
      <div>
        <div class="flex gap-2 items-center p-2 mb-1">
          <div class="w-24 h-24 rounded-md">
            <img class="lazy w-full h-full rounded-md" data-src="/images/logo-avatar.png" />
          </div>
          <div>
            <div class="text-sm mb-2 font-medium text-gray-700 tracking-wide">Lorem ipsum dolor sit amet</div>
            <div class="text-xs font-normal text-gray-400">25/07/2022</div>
          </div>
        </div>
        <div class="flex gap-2 items-center p-2 mb-1">
          <div class="w-24 h-24 rounded-md">
            <img class="lazy w-full h-full rounded-md" data-src="/images/logo-avatar.png" />
          </div>
          <div>
            <div class="text-sm mb-2 font-medium text-gray-700 tracking-wide">Lorem ipsum dolor sit amet</div>
            <div class="text-xs font-normal text-gray-400">25/07/2022</div>
          </div>
        </div>
        <div class="flex gap-2 items-center p-2 mb-1">
          <div class="w-24 h-24 rounded-md">
            <img class="lazy w-full h-full rounded-md" data-src="/images/logo-avatar.png" />
          </div>
          <div>
            <div class="text-sm mb-2 font-medium text-gray-700 tracking-wide">Lorem ipsum dolor sit amet</div>
            <div class="text-xs font-normal text-gray-400">25/07/2022</div>
          </div>
        </div>
        <div class="flex gap-2 items-center p-2">
          <div class="w-24 h-24 rounded-md">
            <img class="lazy w-full h-full rounded-md" data-src="/images/logo-avatar.png" />
          </div>
          <div>
            <div class="text-sm mb-2 font-medium text-gray-700 tracking-wide">Lorem ipsum dolor sit amet</div>
            <div class="text-xs font-normal text-gray-400">25/07/2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>